.contact {
    border:1px solid rgb(227, 178, 161);
    background-color:lightblue;
    margin: 40px  30% 50px  30%;
    border-radius: 60px;
    padding:20px  80px 20px 120px;
    color:lavenderblush;
}

.contact button {
    margin-top:20px;
    background-color:orangered;
    border-radius: 26px  ;
    border:1px solid white;
    color:white;
}