.footer1 {
  background-color: rgb(116, 196, 241);

  padding-top: 20px ;
  padding-bottom:20px;
}
.h1 {
  color: aliceblue;
  display: inline-block;
  margin-left:140px;
  font-size:60px;
}

.img {
  margin-left: 140px;
}
.img img {
  margin-left: 70px;
}
